$body-font: 'Raleway', sans-serif;
$accent-color: #313946;
$accent-color-2: #fe3f99;
$text-color: #000;

$border: 1px solid #ddd;
$brs: 4px;

.color-accent {
  color: $accent-color;
}
.color-accent-2 {
  color: $accent-color-2;
}